<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427763326374-4co0khj31ti88ms75n262bchjfs31q7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427763326374-4co0khj31ti88ms75n262bchjfs31q7r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>427763326374-3e7si5ms659aeae4olj7g6hjv0jfef09.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC2lEfIGUP7jJ8R46Kl53QySDjUP9SGkH8</string>
	<key>GCM_SENDER_ID</key>
	<string>427763326374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mmsoft.landandplot</string>
	<key>PROJECT_ID</key>
	<string>land-65eee</string>
	<key>STORAGE_BUCKET</key>
	<string>land-65eee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427763326374:ios:7b64726a09a6e2e4468367</string>
</dict>
</plist>