service cloud.firestore {
  match /databases/{database}/documents {
    // Allow authenticated users to read all documents and managers to write
    match /properties/{propertyType}/listings/{listingId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (request.auth.token.role == 'manager' || request.auth.token.role == 'authorizedUser');
    }
    match /apartmentdetails/{document=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (request.auth.token.role == 'manager' || request.auth.token.role == 'authorizedUser');
    }
    match /gatedcommunityapts/{document=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (request.auth.token.role == 'manager' || request.auth.token.role == 'authorizedUser');
    }
    match /gatedcommunityvillas/{document=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (request.auth.token.role == 'manager' || request.auth.token.role == 'authorizedUser');
    }
    match /villas/{document=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (request.auth.token.role == 'manager' || request.auth.token.role == 'authorizedUser');
    }
    match /houses/{document=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (request.auth.token.role == 'manager' || request.auth.token.role == 'authorizedUser');
    }
    match /commercialspaces/{document=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (request.auth.token.role == 'manager' || request.auth.token.role == 'authorizedUser');
    }
    match /clusters/{clusterId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && (request.auth.token.role == 'manager' || request.auth.token.role == 'authorizedUser');
    }
  }
}

